NodeRed_Receptor.json
[{"id":"2e5204ef.e9366c","type":"tab","label":"FlowBrenda","disabled":false,"info":""},{"id":"f60286ab.7160f8","type":"mqtt in","z":"2e5204ef.e9366c","name":"","topic":"LocalControl","qos":"2","datatype":"auto","broker":"555e8d6e.f9f9b4","x":130,"y":140,"wires":[["60aaba32.5e81a4"]]},{"id":"fd39f891.ae5b98","type":"mqtt out","z":"2e5204ef.e9366c","name":"","topic":"NubeControl","qos":"2","retain":"","broker":"555e8d6e.f9f9b4","x":390,"y":320,"wires":[]},{"id":"fe99356b.59bf28","type":"serial in","z":"2e5204ef.e9366c","name":"EntradaBrendaArduino","serial":"dcd24b21.836978","x":160,"y":320,"wires":[["fd39f891.ae5b98","756adfb0.99601"]]},{"id":"60aaba32.5e81a4","type":"serial out","z":"2e5204ef.e9366c","name":"EntradaKarlaArduino","serial":"dcd24b21.836978","x":380,"y":140,"wires":[]},{"id":"632de268.cdb06c","type":"mqtt out","z":"2e5204ef.e9366c","name":"","topic":"NubeMapaControl","qos":"2","retain":"","broker":"555e8d6e.f9f9b4","x":650,"y":380,"wires":[]},{"id":"6744971.97acd68","type":"mqtt in","z":"2e5204ef.e9366c","name":"","topic":"VozControlLeds","qos":"2","datatype":"auto","broker":"555e8d6e.f9f9b4","x":140,"y":220,"wires":[["60aaba32.5e81a4"]]},{"id":"756adfb0.99601","type":"function","z":"2e5204ef.e9366c","name":"coordendas mapa","func":"var lizbre = msg.payload.split(',');\nvar led1 = lizbre[0] == 1 ? \"ON\" : \"OFF\";\nvar led2 = lizbre[1] == 1 ? \"ON\" : \"OFF\";\nvar led3 = lizbre[2] == 1 ? \"ON\" : \"OFF\";\nvar led4 = lizbre[3] == 1 ? \"ON\" : \"OFF\";\n\nvar variable = \"LED 1: \" + led1 + \"LED 2: \" + led2 + \"LED 3: \" + led3 + \"LED 4: \" + led4 ;\n\nmsg.payload = '{ \"name\":\"Brenda\", \"lat\":20.213190, \"lon\":-99.005540, \"label\":\" ' + variable + ' \" }';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["632de268.cdb06c"]]},{"id":"555e8d6e.f9f9b4","type":"mqtt-broker","z":"","name":"HiveMQB","broker":"broker.hivemq.com","port":"1883","clientid":"BRENDAitsoeh","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcd24b21.836978","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]