NodeRed_Nube.json
[{"id":"f46dc24.8a421c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"c357160b.8079","type":"mqtt in","z":"f46dc24.8a421c","name":"","topic":"NubeControl","qos":"2","datatype":"auto","broker":"76728cb6.ea4fec","x":221,"y":128,"wires":[["27c37e46.2c8a52"]]},{"id":"27c37e46.2c8a52","type":"function","z":"f46dc24.8a421c","name":"Dashboard","func":"var output = msg.payload.split(\",\");\n\nvar led1res = output[0];\nvar led2res = output[1];\nvar led3res = output[2];\nvar led4res = output[3];\n\nvar led1 = {payload:led1res == 1 ? \"on\" : \"off\"};\nvar led2 = {payload:led2res == 1 ? \"on\" : \"off\"};\nvar led3 = {payload:led3res == 1 ? \"on\" : \"off\"};\nvar led4 = {payload:led4res == 1 ? \"on\" : \"off\"};\n\n\nvar slack = \"LED 1 = \" + led1 + \", LED 2 = \" + led2 + \", LED 3 = \" + led3 + \", LED 4 = \" + led4 ;\nasas = {payload : slack};\n\n\nreturn [led1, led2, led3, led4, asas];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":400.5,"y":127,"wires":[["3877ae50.0a9c7a"],["7019306d.4c788"],["b8da47ea.9c5408"],["a05e4300.c20958"],["686fa7dd.33cfe","911949dc.afe5b"]]},{"id":"7019306d.4c788","type":"ui_text","z":"f46dc24.8a421c","group":"8f1ca25.52c5d6","order":0,"width":0,"height":0,"name":"","label":"Led 2:","format":"{{msg.payload}}","layout":"row-spread","x":595.9999694824219,"y":110,"wires":[]},{"id":"b8da47ea.9c5408","type":"ui_text","z":"f46dc24.8a421c","group":"8f1ca25.52c5d6","order":0,"width":0,"height":0,"name":"","label":"Led 3:","format":"{{msg.payload}}","layout":"row-spread","x":593.2666015625,"y":157.11666870117188,"wires":[]},{"id":"a05e4300.c20958","type":"ui_text","z":"f46dc24.8a421c","group":"8f1ca25.52c5d6","order":0,"width":0,"height":0,"name":"","label":"Led 4:","format":"{{msg.payload}}","layout":"row-spread","x":594.2666015625,"y":197.11669921875,"wires":[]},{"id":"f8934b1f.bd3fa","type":"mqtt in","z":"f46dc24.8a421c","name":"","topic":"NubeMapaControl","qos":"2","datatype":"auto","broker":"76728cb6.ea4fec","x":265.0000305175781,"y":392,"wires":[["f02d6f8e.009ea"]]},{"id":"f02d6f8e.009ea","type":"function","z":"f46dc24.8a421c","name":"Mapa","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":443.00006103515625,"y":392,"wires":[["df5c8cbf.a49e18"]]},{"id":"df5c8cbf.a49e18","type":"worldmap","z":"f46dc24.8a421c","name":"","lat":"20.205304","lon":"-99.221736","zoom":"","layer":"OSM","cluster":"","maxage":"90","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":614.0000610351562,"y":392.89996337890625,"wires":[]},{"id":"ab8007fd.0869d","type":"watson-speech-to-text","z":"f46dc24.8a421c","name":"Entrada Voz","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"es-MX","langhidden":"es-MX","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"Dq7jqZmyI0mum36BbA1gr20_43imm8b6QOJBcXPLTge0","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":390,"y":500,"wires":[["ffc267b2.c76138"]]},{"id":"ffc267b2.c76138","type":"function","z":"f46dc24.8a421c","name":"","func":"\nvar id;\n\nif(msg.payload==\"encender uno\"){\n    id=1;\n    return msg;\n}\nif(msg.payload==\"apagar uno\"){\n    id=0;\n    return msg;\n}\nif(msg.payload==\"encender dos\"){\n    id=1;\n    return msg;\n}\nif(msg.payload==\"apagar dos\"){\n    id=0;\n    return msg;\n}\nif(msg.payload==\"encender tres\"){\n    id=1;\n    return msg;\n}\nif(msg.payload==\"apagar trs\"){\n    id=0;\n    return msg;\n}\nif(msg.payload==\"encender cuatro\"){\n    id=1;\n    return msg;\n}\nif(msg.payload==\"apagar cuatro\"){\n    id=0;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":500,"wires":[["a3f0ce50.085aa8"]]},{"id":"a3f0ce50.085aa8","type":"mqtt out","z":"f46dc24.8a421c","name":"","topic":"VozControlLeds","qos":"2","retain":"","broker":"76728cb6.ea4fec","x":780,"y":500,"wires":[]},{"id":"d7388d16.f2efd8","type":"microphone","z":"f46dc24.8a421c","name":"ControlVozBrenda","x":190,"y":500,"wires":[["ab8007fd.0869d"]]},{"id":"3877ae50.0a9c7a","type":"ui_text","z":"f46dc24.8a421c","group":"8f1ca25.52c5d6","order":0,"width":0,"height":0,"name":"","label":"Led 1:","format":"{{msg.payload}}","layout":"row-spread","x":595.9999694824219,"y":70,"wires":[]},{"id":"686fa7dd.33cfe","type":"slack","z":"f46dc24.8a421c","name":"","channelURL":"https://hooks.slack.com/services/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","username":"BrendaKarla","emojiIcon":"","channel":"","x":595.2666015625,"y":245.93331909179688,"wires":[]},{"id":"911949dc.afe5b","type":"twitter out","z":"f46dc24.8a421c","twitter":"","name":"Tweet","x":594.2665710449219,"y":293.6999816894531,"wires":[]},{"id":"76728cb6.ea4fec","type":"mqtt-broker","z":"","name":"HIveMQN","broker":"broker.hivemq.com","port":"1883","clientid":"NUBElizbre","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f1ca25.52c5d6","type":"ui_group","z":"","name":"Leds","tab":"24f82b3d.715f3c","disp":true,"width":"6"},{"id":"24f82b3d.715f3c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]