NodeRed_Transmisor.json
[{"id":"91bb20bb.54716","type":"tab","label":"FlowKarla","disabled":false,"info":""},{"id":"a5f6a783.870308","type":"serial in","z":"91bb20bb.54716","name":"Control","serial":"dcd24b21.836978","x":210,"y":160,"wires":[["f3cde31b.19e99","520f3ebe.ecd17"]]},{"id":"f3cde31b.19e99","type":"mqtt out","z":"91bb20bb.54716","name":"","topic":"LocalControl","qos":"2","retain":"","broker":"c2f4a3b6.58b8f","x":470,"y":100,"wires":[]},{"id":"7165d357.275dfc","type":"mqtt out","z":"91bb20bb.54716","name":"","topic":"NubeMapaControl","qos":"2","retain":"","broker":"c2f4a3b6.58b8f","x":570,"y":260,"wires":[]},{"id":"520f3ebe.ecd17","type":"function","z":"91bb20bb.54716","name":"","func":"msg.payload = '{ \"name\":\"Karla\", \"lat\":20.199804, \"lon\":-99.262991}';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["7165d357.275dfc"]]},{"id":"dcd24b21.836978","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"c2f4a3b6.58b8f","type":"mqtt-broker","z":"","name":"HiveMQK","broker":"broker.hivemq.com","port":"1883","clientid":"KARLALIZBETHitoseh","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]